# حي الفلاح

In [2]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import dtale as dt
from ydata_profiling import ProfileReport as pr
import sweetviz as sv
import plotly.express as px 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [4]:
#Read in the csv file and convert to a Pandas dataframe

In [5]:
df = pd.read_csv('gender_age.csv')

In [6]:
df1 = pd.read_csv('business.csv')

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [8]:
df

   الجنس;"الفئة العمرية";الحجم
0                إناث;0-9;2687
1              إناث;10-19;4547
2              إناث;20-29;3347
3              إناث;30-39;4171
4              إناث;40-49;2429
5              إناث;50-59;1250
6               إناث;60-69;675
7                إناث;70-79;66
8                 إناث;80+;133
9                ذكور;0-9;3110
10             ذكور;10-19;4321
11             ذكور;20-29;3614
12             ذكور;30-39;2875
13             ذكور;40-49;3126
14             ذكور;50-59;1609
15              ذكور;60-69;684
16                ذكور;70-79;0
17                 ذكور;80+;66

In [9]:
df[['الجنس', 'الفئةالعمرية', 'الحجم']] = df['الجنس;"الفئة العمرية";الحجم'].str.split(';', expand=True)

In [10]:
df.drop(['الجنس;"الفئة العمرية";الحجم'],axis = 1, inplace = True)

In [11]:
df = df.rename(columns= {'الحجم': 'Count'})

In [12]:
df = df.rename(columns= {'الجنس': 'Gender'})

In [13]:
df = df.rename(columns= {'الفئةالعمرية': 'Age'})

In [14]:
df['Count'] = df['Count'].astype(int)

In [15]:
total = df['Count'].sum()

In [16]:
total = { 'Gender': 'المجموع' , 'Age' : 'المجموع' , 'Count' : df['Count'].sum()}

In [17]:
df = pd.concat([df, pd.DataFrame([total])], ignore_index=True)

In [18]:
df

     Gender      Age  Count
0      إناث      0-9   2687
1      إناث    10-19   4547
2      إناث    20-29   3347
3      إناث    30-39   4171
4      إناث    40-49   2429
5      إناث    50-59   1250
6      إناث    60-69    675
7      إناث    70-79     66
8      إناث      80+    133
9      ذكور      0-9   3110
10     ذكور    10-19   4321
11     ذكور    20-29   3614
12     ذكور    30-39   2875
13     ذكور    40-49   3126
14     ذكور    50-59   1609
15     ذكور    60-69    684
16     ذكور    70-79      0
17     ذكور      80+     66
18  المجموع  المجموع  38710

# ______________________________

In [20]:
df1

                                        الاسم;الحجم
0                               البقالات المحلية;17
1                            مطاعم محلية - بوفيه;14
2    محلات أجهزة التسخين والتكييف ومعدات السباكة;13
3                                        المقاهي;12
4                          مطاعم الوجبات السريعة;11
..                                              ...
342            المرافق الأخرى لتصريف مياه المجاري;0
343                           محطات معالجة المياه;0
344               مرافق الإذاعة والتلفزيون الأخرى;0
345                     محطات الأبراج لإرسال البث;0
346                         المرافق الأخرى للهاتف;0

[347 rows x 1 columns]

In [21]:
df1[['الاسم', 'الحجم']] = df1['الاسم;الحجم'].str.split(';', expand=True)

In [22]:
df1.drop(['الاسم;الحجم'],axis = 1, inplace = True)

In [23]:
df1 = df1.rename(columns= {'الحجم': 'Count' })

In [24]:
df1 = df1.rename(columns= {'الاسم': 'business' })

In [25]:
df1['Count'] = df1['Count'].astype(int)

In [26]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_restaurants = df1[df1['business'].str.contains('مطاعم', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد المطاعم'], 'Count': [total_sum_restaurants]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [111]:
df1.tail(13)

                            business  Count
343              محطات معالجة المياه      0
344  مرافق الإذاعة والتلفزيون الأخرى      0
345        محطات الأبراج لإرسال البث      0
346            المرافق الأخرى للهاتف      0
347               إجمالي عدد المطاعم     34
348          إجمالي عدد السوبر ماركت      0
349               إجمالي عدد المقاهي     12
350               إجمالي عدد المساجد     21
351        إجمالي عدد المراكز الصحية      1
352               إجمالي عدد الحدائق      2
353              إجمالي عدد البقالات     17
354      إجمالي عدد الأندية الرياضية      0
355           اجمالي عدد محطات الباص      3

In [28]:
df1[(df1['business'].str.contains('الأندية', case=False, na=False))]

                      business  Count
222  الأندية الرياضية الرجالية      0
234  الأندية الرياضية النسائية      0

In [30]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_super = df1[df1['business'].str.contains('سوبر', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد السوبر ماركت'], 'Count': [total_sum_super]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [31]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_coffee = df1[df1['business'].str.contains('مقاهي', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد المقاهي'], 'Count': [total_sum_coffee]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [32]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_mosq = df1[df1['business'].str.contains('مساجد', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد المساجد'], 'Count': [total_sum_mosq]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [33]:
categories_to_sum = [
    'عيادات أطباء الأسنان الخاصة', 'عيادات الأطباء الخاصة', 'مراكز الرعاية الأولية الحكومية',
    'الهلال الأحمر', 'المرافق الصحية الحكومية الأخرى', 'المختبرات الطبية الحكومية',
    'عيادات أطباء الأسنان الحكومية', 'المستشفيات الحكومية', 'عيادات الأطباء الحكومية',
    'المصحات والاستراحات الخاصة', 'المختبرات الخاصة', 'المستشفيات الخاصة'
]

In [34]:
filtered_df = df1[df1['business'].isin(categories_to_sum)]


total_sum_hosp = filtered_df['Count'].sum()



total_row = pd.DataFrame({'business': ['إجمالي عدد المراكز الصحية'], 'Count': total_sum_hosp})


df1 = pd.concat([df1, total_row], ignore_index=True)

In [35]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_park = df1[df1['business'].str.contains('حدائق', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد الحدائق'], 'Count': [total_sum_park]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [36]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_gro = df1[df1['business'].str.contains('بقال', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد البقالات'], 'Count': [total_sum_gro]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [37]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_gym = df1[df1['business'].str.contains('الأندية', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد الأندية الرياضية'], 'Count': [total_sum_gym]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [38]:
bus = { 'business': 'اجمالي عدد محطات الباص' , 'Count' : 3}

In [39]:
df1 = pd.concat([df1, pd.DataFrame([bus])], ignore_index=True)

In [40]:
#school = { 'business': 'اجمالي عدد المدارس' , 'Count' : 18}

In [41]:
#df1 = pd.concat([df1, pd.DataFrame([school])], ignore_index=True)

In [42]:
#schoolm = { 'business': 'مدارس متوسط وثانوي بنين' , 'Count' : 4}

In [43]:
#df1 = pd.concat([df1, pd.DataFrame([schoolm])], ignore_index=True)

In [44]:
#schoolf = { 'business': 'مدارس متوسط وثانوي بنات' , 'Count' : 5}

In [45]:
#df1 = pd.concat([df1, pd.DataFrame([schoolf])], ignore_index=True)

In [46]:
#schooly = { 'business': 'مدارس ابتدائية' , 'Count' : 5}

In [47]:
#df1 = pd.concat([df1, pd.DataFrame([schooly])], ignore_index=True)

In [48]:
# الياسمين :  18 مدرسة 
# بنين : 4 متوسط وثانوي 
# بنات : 5 متوسط وثانوي
# ابتدائي : 5

In [49]:
#hos = { 'business': 'اجمالي عدد المراكز الطبية' , 'Count' : 1}

In [50]:
#df1 = pd.concat([df1, pd.DataFrame([hos])], ignore_index=True)

In [51]:
df1.to_csv('final_business_falah.csv')
df.to_csv('final_age_falah.csv')